.clients {
  padding-top: 135px;
}

.clients__title {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-black);
}

.clients__table {
  display: flex;
}

.display-info {
  display: flex;
  color: var(--color-silver-chalice);
  font-size: 12px;
}

.display-info__item--id,
.display-info__sorting {
  text-transform: uppercase;
  color: var(--color-heliotrope);
}

.display-info__sorting {
  padding-left: 12px;
}

.display-info__item--id,
.display-info__item--name,
.display-info__item--create,
.display-info__item--edit {
  position: relative;
  cursor: pointer;
  user-select: none;
  background-position: right center;
}

.display-info__item {
  margin-right: 70px;
}

.display-info__item--id {
  padding-left: 13px;
  padding-right: 13px;
}

.display-info tr {
  display: flex;
  align-items: flex-end;
}

.clients__btn {
  margin: 0 auto;
  margin-top: 40px;
  padding: 14px 26px;
  border: 1px solid var(--color-heliotrope);
  background-color: transparent;
  display: flex;
  flex-direction: row-reverse;
  font-family: "Open-sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: var(--color-heliotrope);
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
}

.clients__btn:focus {
  background-color: var(--color-melrose);
  color: var(--color-white);
}
.clients__btn:hover {
  background-color: var(--color-heliotrope);
  color: var(--color-white);
}

.clients__btn svg {
  fill: var(--color-heliotrope);
  transition: fill 0.3s;
}

.clients__btn:focus svg {
  fill: var(--color-white);
}
.clients__btn:hover svg {
  fill: var(--color-white);
}

.clients__btn-svg {
  margin-right: 10px;
  transition: fill 0.3s;
}

.create-span,
.edit-span {
  position: absolute;
  top: 0;
  right: -10px;
  display: inline-block;
  width: 7px;
  height: 100%;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sort-up,
.sort-down {
  background-repeat: no-repeat;
}

.sort-up {
  background-image: url("../images/arrow-up.svg");
}
.sort-down {
  background-image: url("../images/arrow-down.svg");
}

.display-info__item--create,
.display-info__item--edit {
  background-image: none;
}

.display-info__item--name {
  margin-right: 200px;
  background-position: right 18px center;
}

.display-info__sorting {
  font-size: 10px;
}
